:root {
    font-size: 62.5%; /* 10px */

    --primary-color: #f3f3f3;
    --secondary-color: #333;

    --primary-entity-color: #EEE;
    --primary-entity-subititle-color: #BBB;
    --soft-orange: #f2e2d7;
}

@media (max-width: 568px) {
    :root {
        font-size: 50%; /* 8px */
    }
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
    
    font-family: Verdana, sans-serif;
    font-size: 1.6rem;
}

nav {
    background-color: var(--secondary-color);
    height: 6rem;
    display: flex;
    color: var(--primary-color);

    & > * {
        align-content: center;
        padding: 1rem;
    }

    & > .title {
        margin-right: auto;
        font-size: 2.5rem;
    }

    & > a {
        text-decoration: none;
        color: var(--primary-color);

        &:hover {
            background-color: var(--primary-color);
            color: var(--secondary-color);
        }
    }
}

main {
    flex-grow: 1;

    display: grid;
    grid-template-columns: [page-start] auto [content-start] repeat(8, [col-start] 1fr [col-end]) [content-end] auto [page-end];
    align-items: center;
    justify-items: center;
    row-gap: 2rem;
    
    background-color: var(--primary-color);
    color: var(--secondary-color);

    padding-bottom: 2rem;
}

main h1 {
    grid-column: page-start / page-end;

    font-family: 'Courier New', monospace;
}

.json-code {
    grid-column: content-start / content-end;

    font-family: 'Courier New', monospace;
    background-color: var(--primary-entity-color);

    padding: 5rem;
    border-radius: 1rem;

    min-width: 70rem;
}

@media (max-width: 800px) {
    .json-code {
        width: calc(100vw - 4rem);
        min-width: unset;
        padding: 2rem;
    }
}

.json-code-description {
    font-size: 2.25rem;
}

.json-code-url {
    margin-left: 2rem;
    font-size: 1rem;
    color: var(--primary-entity-subititle-color);
}

@media (max-width: 568px) {
    .json-code-url {
        margin-left: 0;
    }
}

.json-code-content {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.json-code-loader {
    border: 0.5rem solid var(--primary-color);
    border-radius: 50%;
    border-top: 0.5rem solid #3498db;
    width: 2.5rem;
    height: 2.5rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.json-code-response {
    min-width: 80%;
    background-color: var(--soft-orange);
    padding: 1rem;
    border-radius: 1rem;
}

@media (max-width: 568px) {
    .json-code-response {
        width: 100%;
    }
}

.json-code-response > pre {
    overflow-y: scroll;
}

.json-code-response > pre > code {
    font-family: Consolas,"courier new";
    color: crimson;
    padding: 0.125rem;
    font-size: 1.5rem;
    overflow-y: scroll;
}

footer {
    min-height: 15vh;

    background: var(--secondary-color);
    color: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 0.75rem;
}

@media (max-width: 568px) {
    footer {
        font-size: 1rem;
    }
}

footer div {
    margin: 0.75rem;
}